<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>

        <ion-button (click)="publicar()" slot="end">
            <!-- Advanced: explicity set the icon for each platform -->
            <ion-icon style="margin-right:5px;" name="log-out"></ion-icon>Publicar
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-sliding *ngFor="let poe of poesia">
        <ion-item>
            <ion-label>
                <ion-img [src]="poe.img"></ion-img>
                <h3>Autor: {{poe.autor}}</h3>
                <div>
                    <pre>texto: {{poe.texto}}</pre>
                </div>

                <div>
                    <ion-label>Comentarios</ion-label>
                    <ion-item *ngFor="let com of comentarios">
                        <h3>hola{{com.texto}}</h3> <br>

                    </ion-item>
                </div>
            </ion-label>

        </ion-item>
    </ion-item-sliding>
</ion-content>